<!DOCTYPE html>
<html>
<head>
	<title>{% block title%}{% endblock %}sneekysnap.com</title>

	{% block styles %}
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	{% endblock %}

	{% block scripts %}
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script type="text/javascript" src="/js/main.js"></script>
	{% endblock %}

	{% block meta %}
	{% endblock %}
	
</head>
<body>

	<section class="content">
		{% block content %}{% endblock %}
	</section>

</body>
</html>